@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap");

@font-face {
    font-family: "Freesentation-4Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation-7Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SchoolSafetyWing";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimNalgaeR.woff2")
        format("woff2");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChosunIlboMyungjo";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
        format("woff");
    font-weight: normal;
    font-display: swap;
}

:root {
    --black: #111;
    --white: #fafafa;
    --gray1: #ddd;
    --gray2: #aaa;
    --color1: #cd5c5c;
    --color2: #ffc0cb;
}

* {
    box-sizing: border-box;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: "Freesentation-4Regular", sans-serif;
    line-height: 1.5;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: whitesmoke;
}

body {
    margin: 0 auto;
    max-width: 480px;
    background-color: var(--white);
    text-align: center;
}

.container {
    position: relative;
    padding: 2rem;
    width: 100%;
}

.title {
    margin-bottom: 2rem;
    color: var(--color1);
    font-size: larger;
    font-family: "Freesentation-7Bold", sans-serif;
}

.titlesmall {
    color: var(--color2);
    font-size: x-small;
    font-family: "ChosunIlboMyungjo", sans-serif;
}

.dropdown {
    border: 1px solid var(--gray1);
    border-radius: 8px;
    background-color: white;
}

.dropdownBtn {
    cursor: pointer;
    padding: 0.5rem;
    font-size: small;
}

.dropdownBox {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 400ms, opacity 400ms, border-width 400ms;
    height: 0;
    opacity: 0;
    border-top: 0px solid var(--gray1);
}

.dropdownBtn.clicked + .dropdownBox {
    opacity: 1;
    border-width: 1px;
}

.intro {
    height: 100vh;
    height: 100svh;
    max-height: 960px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.intro img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
    animation: moveLeft 4000ms forwards;
}

.introTexts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.introText,
.introName {
    flex-shrink: 0;
    color: var(--white);
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
}

.introText {
    text-align: left;
    font-size: var(--font-scale);
    line-height: 1;
}

.introName {
    font-size: small;
}

.info {
    font-size: larger;
    line-height: 2;
}

.heros {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.heroImg {
    margin-bottom: 1rem;
    width: 100%;
}

.hero {
    margin-bottom: 1rem;
    font-size: larger;
    font-family: "Freesentation-7Bold", sans-serif;
}

.calls {
    border-collapse: collapse;
    text-align: left;
}

.call {
    cursor: pointer;
}

.call td {
    padding-left: 0.5rem;
    line-height: 2;
}

.call td:first-child {
    padding-left: 0;
    color: var(--gray2);
    font-size: small;
}

.gallerys {
    display: flex;
    flex-direction: column-reverse;
}

.galleryBtn {
    cursor: pointer;
    padding: 0.5rem;
    font-size: small;
}

.gallery {
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow: hidden;
    transition: aspect-ratio 400ms;
    aspect-ratio: 3 / 3;
}

.galleryBtn.clicked + .gallery {
    aspect-ratio: 3 / 7;
}

.galleryItem {
    width: calc((100% - 1rem) / 3);
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.calendarTitle {
    margin-bottom: 1rem;
    color: var(--color1);
    text-align: left;
    font-size: x-large;
    font-family: "ChosunIlboMyungjo", sans-serif;
}

.calendar {
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);
}

.week {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.day {
    position: relative;
    width: calc(100% / 7);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holyday {
    color: var(--color1);
    background-color: white;
}

.todayIcon {
    width: 2rem;
    height: 2rem;
}

.today {
    position: absolute;
    color: white;
}

.event {
    position: absolute;
    bottom: 0;
    width: fit-content;
    color: var(--color1);
    font-size: small;
    text-wrap: nowrap;
}

.hall {
    color: var(--color1);
    text-align: left;
    font-size: x-large;
    font-family: "ChosunIlboMyungjo", sans-serif;
}

.hallAddress {
    margin-bottom: 1rem;
    color: var(--gray2);
    text-align: left;
    font-size: small;
    font-family: "ChosunIlboMyungjo", sans-serif;
}

#map {
    margin-bottom: 1rem;
    width: 100%;
    aspect-ratio: 3 / 2;
}

.mapBtns {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.mapBtn {
    cursor: pointer;
    padding: 0.5rem 0;
    width: 100%;
    border: 1px solid var(--gray1);
    border-radius: 8px;
    font-size: small;
    text-decoration: none;
    background-color: white;
}

.ways {
    padding-top: 1rem;
    border-top: 1px solid var(--gray1);
}

.way {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 4px;
    text-align: left;
}

.wayMarker {
    width: 1rem;
}

.wayText {
    width: calc(100% - 1rem - 4px);
}

/*****************************************************************/

input[type="radio"] {
    display: none;
}

.notice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid var(--gray1);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.notice label {
    cursor: pointer;
    padding: 0.75rem 0;
    width: calc(100% / 3);
    border-bottom: 1px solid var(--gray1);
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.notice label ~ label {
    border-left: 1px solid var(--gray1);
}

.notice input:checked + label {
    border-bottom: 1px solid transparent;
    background-color: white;
}

.notice1text,
.notice2text,
.notice3text {
    display: none;
    padding: 2rem;
    width: 100%;
    background-color: white;
}

.notice1:checked ~ .notice1text,
.notice2:checked ~ .notice2text,
.notice3:checked ~ .notice3text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.noticeIcon {
    margin-right: 4px;
    width: 1rem;
}

.noticetext {
    width: calc(100% - 1rem - 4px);
    text-align: left;
}

.account {
    border: 1px solid var(--gray1);
    border-radius: 8px;
    overflow: hidden;
}

.accountBtn {
    cursor: pointer;
    padding: 0.75rem 0;
    width: 100%;
    font-size: small;
    background-color: white;
}

.accounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    transition: height 400ms, opacity 400ms, border-width 400ms,
        border-color 400ms;
    border-top: 0px solid transparent;
    height: 0;
    opacity: 0;
}

.accountBtn.clicked + .accounts {
    height: 8rem;
    opacity: 1;
    border-width: 1px;
    border-color: var(--gray1);
}

.accounts table {
    margin: 0 auto;
    width: fit-content;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.accounts tr {
    cursor: pointer;
}

.accounts td {
    padding: 0 0.5rem;
}

.writeBtn {
    cursor: pointer;
    padding: 0.75rem 0;
    font-size: small;
}

.writeContainer {
    width: calc(100% + 1rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem 0;
    overflow: hidden;
    transition: padding 400ms, height 400ms, opacity 400ms;
    height: 0;
    opacity: 0;
}

.writeBtn.clicked + .writeContainer {
    padding-top: 0.5rem;
    height: 14rem;
    opacity: 1;
}

.writeContainer label {
    width: 3rem;
    font-size: small;
}

.writeContainer input,
.writeContainer textarea,
.writeContainer button {
    padding: 0.5rem;
    width: calc(100% - 4rem);
    height: 2rem;
    border: 1px solid var(--gray1);
    border-radius: 8px;
    background-color: white;
    font-size: medium;
}

.writeContainer input::placeholder,
.writeContainer textarea::placeholder {
    color: var(--gray2);
}

.writeContainer textarea {
    height: 6rem;
    resize: none;
}

.writeContainer .sendBtn {
    cursor: pointer;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guestbooks {
    z-index: 1;
    max-height: 300px;
    overflow: scroll;
}

.guestbook {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--gray1);
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.guestbookId {
    font-family: "SchoolSafetyWing", sans-serif;
    border-bottom: 1px solid var(--gray1);
}

.guestbookDel {
    cursor: pointer;
    font-size: small;
}

.guestbookContents {
    margin-top: 1rem;
    width: 100%;
    text-align: left;
    text-wrap: wrap;
    font-family: "SchoolSafetyWing", sans-serif;
}

.upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.ending {
    position: relative;
}

.ending img {
    width: 100%;
}

.endingTexts {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
}

.endingText {
    color: white;
    font-family: "ChosunIlboMyungjo", sans-serif;
}

.snowContainer {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.snow {
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
}

@keyframes moveLeft {
    0% {
        left: 0;
    }
    100% {
        left: -10%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 15px;
    }

    .event {
        font-size: x-small;
    }
}
