@font-face {
    font-family: "Freesentation-4Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation-9Black";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
        format("woff2");
    font-weight: 900;
    font-style: normal;
}

:root {
    --black: #111;
    --white: #fcfcfc;
    --gray: #ddd;
    --gray2: #aaa;
    --color: #111;
}

* {
    box-sizing: border-box;
    word-break: keep-all;
    margin: 0;
    padding: 0;
    font-family: "Freesentation-4Regular", sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: whitesmoke;
}

body {
    margin: 0 auto;
    max-width: 480px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
}

main {
    height: 100%;
    overflow: scroll;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.marginBtm {
    margin-bottom: 1rem;
}

.marginBtm2 {
    margin-bottom: 2rem;
}

.borderTop {
    border-top: 1px solid var(--gray);
}

.borderBtm {
    border-bottom: 1px solid var(--gray);
}

.borderLft {
    border-left: 1px solid var(--gray);
}

.borderRt {
    border-right: 1px solid var(--gray);
}

.large {
    font-size: larger;
}

.small {
    font-size: small;
}

.xsmall {
    font-size: x-small;
}

.gray {
    color: var(--gray);
}

.gray2 {
    color: var(--gray2);
}

.container {
    position: relative;
    padding: 2rem 1rem;
}

.btn {
    cursor: pointer;
    display: block;
    padding: 0.75rem 0;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    border: 1px solid var(--gray);
    border-radius: 8px;
    font-size: small;
    text-decoration: none;
    color: var(--black);
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100svh;
}

.intro img {
    object-position: top;
}

.introText {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    color: var(--white);
    font-family: "Freesentation-9Black", sans-serif;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.invitation {
    line-height: 1.5;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.call {
    border: 1px solid var(--gray);
    border-radius: 8px;
    overflow: hidden;
}

.callBtn {
    cursor: pointer;
    padding: 0.75rem 0;
    width: 100%;
    font-size: small;
    background-color: white;
}

.calls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    transition: height 400ms, opacity 400ms, border-color 400ms;
    border-top: 1px solid var(--gray);
    height: 0;
    opacity: 0;
}

.callBtn.clicked + .calls {
    height: 8rem;
    opacity: 1;
    border-color: transparent;
}

.calls table {
    margin: 0 auto;
    width: fit-content;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.calls tr {
    cursor: pointer;
}

.calls td {
    padding: 0 0.25rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.gallery a {
    position: relative;
    flex: 0 0 calc((100% - 1rem) / 3);
    padding-bottom: calc((100% - 1rem) / 3);
    height: 0;
    overflow: hidden;
}

.gallery a:nth-child(n + 10) {
    display: none;
}

.gallery.expanded a:nth-child(n + 10) {
    display: flex;
}

.gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ddayContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.ddayItem {
    width: 3rem;
}

.week {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.day {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holiday {
    color: #cd5c5c;
}

.saturday {
    color: #191970;
}

.today img {
    position: absolute;
    z-index: 0;
}

.today div {
    position: absolute;
    z-index: 1;
    color: white;
}

#map {
    margin: 1rem 0;
    width: 100%;
    max-height: 300px;
    aspect-ratio: 3 / 2;
}

.mapBtns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.way {
    margin: 2rem auto 1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-bottom: 1px solid var(--gray);
}

input[type="radio"] {
    display: none;
}

.notice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid var(--gray);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.notice label {
    cursor: pointer;
    padding: 0.75rem 0;
    width: calc(100% / 3);
    font-size: small;
    border-bottom: 1px solid var(--gray);
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.notice label ~ label {
    border-left: 1px solid var(--gray);
}

.notice input:checked + label {
    border-bottom: 1px solid transparent;
    background-color: white;
}

.notice1text,
.notice2text,
.notice3text {
    display: none;
    padding: 2rem;
    width: 100%;
    background-color: white;
    text-wrap: balance;
}

.notice1:checked ~ .notice1text,
.notice2:checked ~ .notice2text,
.notice3:checked ~ .notice3text {
    display: block;
}

.account {
    border: 1px solid var(--gray);
    border-radius: 8px;
    overflow: hidden;
}

.accountBtn {
    cursor: pointer;
    padding: 0.75rem 0;
    width: 100%;
    font-size: small;
    background-color: white;
}

.accounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    transition: height 400ms, opacity 400ms, border-color 400ms;
    border-top: 1px solid var(--gray);
    height: 0;
    opacity: 0;
}

.accountBtn.clicked + .accounts {
    height: 8rem;
    opacity: 1;
    border-color: 1px;
}

.accounts table {
    margin: 0 auto;
    width: fit-content;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.accounts tr {
    cursor: pointer;
}

.accounts td {
    padding: 0 0.5rem;
}

.writeBtn {
    cursor: pointer;
    padding: 0.75rem 0;
    font-size: small;
}

.writeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-end;
    gap: 0.5rem 0;
    overflow: hidden;
    transition: height 400ms, opacity 400ms;
    height: 0;
    opacity: 0;
}

.writeBtn.clicked + .writeContainer {
    height: 14rem;
    opacity: 1;
}

.writeContainer label {
    width: 3rem;
    font-size: small;
}

.writeContainer input,
.writeContainer textarea,
.writeContainer button {
    padding: 0.25rem 0.5rem;
    width: calc(100% - 3rem);
    border: 1px solid var(--gray);
    border-radius: 4px;
    background-color: white;
    font-size: medium;
}

.writeContainer input::placeholder,
.writeContainer textarea::placeholder {
    color: var(--gray2);
}

.writeContainer textarea {
    height: 6rem;
    resize: none;
}

.writeContainer button {
    padding: 0.75rem;
    cursor: pointer;
    font-size: small;
}

.guestbooks {
    max-height: 300px;
    overflow: scroll;
}

.guestbook {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.guestbookId {
}

.guestbookDel {
    cursor: pointer;
    font-size: small;
}

.guestbookContents {
    margin-top: 0.5rem;
    width: 100%;
    text-align: left;
}

.upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.ending {
    position: relative;
    width: 100%;
}

.endingText {
    position: absolute;
    z-index: 1;
    top: 4rem;
    left: 0;
    width: 100%;
    color: var(--white);
}
