@font-face {
    font-family: "Freesentation-4Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Freesentation-9Black";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2")
        format("woff2");
    font-weight: 900;
    font-style: normal;
}

:root {
    --black: #111;
    --white: #fcfcfc;
    --gray: #ddd;
    --gray2: #aaa;
    --color: #111;
}

* {
    box-sizing: border-box;
    word-break: keep-all;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: whitesmoke;
}

body {
    font-family: "Freesentation-4Regular", sans-serif;
    margin: 0 auto;
    max-width: 480px;
    height: 100%;
    overflow: hidden;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
}

main {
    height: 100%;
    overflow: scroll;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.marginBtm {
    margin-bottom: 1rem;
}

.borderTop {
    border-top: 1px solid var(--gray);
}

.borderBtm {
    border-bottom: 1px solid var(--gray);
}

.borderLft {
    border-left: 1px solid var(--gray);
}

.borderRt {
    border-right: 1px solid var(--gray);
}

.large {
    font-size: larger;
}

.small {
    font-size: small;
}

.xsmall {
    font-size: x-small;
}

.gray {
    color: var(--gray);
}

.gray2 {
    color: var(--gray2);
}

.container {
    position: relative;
    padding: 2rem 1rem;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn {
    cursor: pointer;
    display: block;
    padding: 0.75rem 0;
    width: 100%;
    background-color: white;
    border: 1px solid var(--gray);
    border-radius: 8px;
    font-size: small;
    text-decoration: none;
    color: var(--black);
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

.intro img {
    object-position: top;
}

.introText {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    color: var(--white);
    font-family: "Freesentation-9Black", sans-serif;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.call {
    border: 1px solid var(--gray);
    border-radius: 8px;
    overflow: hidden;
}

.callBtn {
    cursor: pointer;
    padding: 0.75rem 0;
    width: 100%;
    font-size: small;
    background-color: white;
    border-bottom: 1px solid transparent;
    transition: border 400ms;
}

.callBtn.clicked {
    border-bottom: 1px solid var(--gray);
}

.calls {
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    transition: height 400ms;
}

.callBtn.clicked + .calls {
    height: 9rem;
}

.calls table {
    margin: 0 auto;
    border-collapse: collapse;
    width: fit-content;
}

.callNum {
    padding: 0 0.5rem;
    text-decoration: none;
    color: var(--black);
    line-height: 2.5rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.gallery a {
    position: relative;
    flex: 0 0 calc((100% - 1rem) / 3);
    padding-bottom: calc((100% - 1rem) / 3);
    height: 0;
    overflow: hidden;
}

.gallery a:nth-child(n + 10) {
    display: none;
}

.gallery.expanded a:nth-child(n + 10) {
    display: flex;
}

.gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ddayContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.ddayItem {
    width: 3rem;
}

.week {
    margin: 0 auto;
    width: fit-content;
}

.calendar span {
    display: inline-block;
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

.holiday {
    color: #cd5c5c;
}

.saturday {
    color: #191970;
}

.today {
    border-radius: 1.5rem;
    background-color: var(--black);
    color: var(--white);
}

#map {
    margin: 1rem 0;
    width: 100%;
    max-height: 300px;
    aspect-ratio: 3 / 2;
}

.way {
    margin: 1rem auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

input[type="radio"] {
    display: none;
}

.notice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid var(--gray);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.notice label {
    cursor: pointer;
    padding: 0.75rem 0;
    width: calc(100% / 3);
    font-size: small;
    border-bottom: 1px solid var(--gray);
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.notice label ~ label {
    border-left: 1px solid var(--gray);
}

.notice input:checked + label {
    border-bottom: 1px solid transparent;
    background-color: white;
}

.notice1text,
.notice2text,
.notice3text {
    display: none;
    padding: 0.75rem;
    width: 100%;
    background-color: white;
}

.notice1:checked ~ .notice1text,
.notice2:checked ~ .notice2text,
.notice3:checked ~ .notice3text {
    display: block;
}

.account {
    border: 1px solid var(--gray);
    border-radius: 8px;
    overflow: hidden;
}

.accountBtn {
    cursor: pointer;
    padding: 0.75rem 0;
    width: 100%;
    font-size: small;
    background-color: white;
    border-bottom: 1px solid transparent;
    transition: border 400ms;
}

.accountBtn.clicked {
    border-bottom: 1px solid var(--gray);
}

.accounts {
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    transition: height 400ms;
}

.accountBtn.clicked + .accounts {
    height: 8rem;
}

.accounts table {
    margin: 0 auto;
    width: fit-content;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.accounts td {
    padding: 0 0.5rem;
}

.accountCopy {
    cursor: pointer;
}

.upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.ending {
    position: relative;
    width: 100%;
}

.endingText {
    position: absolute;
    z-index: 1;
    top: 3rem;
    left: 0;
    width: 100%;
    color: var(--white);
}
